<div id="index-view" ng-app="app">
    <div ng-controller="Vehicles as vehicles">
        {{ vehicles.title         }}
        <p ng-repeat="vehicle in vehicles.vehiclesData"> 
            {{ vehicle.Model }}
            {{ vehicle.EngineCapacityDisplayText }}
        </p>
    </div>
</div>

<!-- inject:js -->
<!-- Bootstrapping -->
<script src="~/app/app.module.js"></script>

<!--blocks-->
<script src="~/app/vehicles/vehicles.module.js"></script>
<script src="~/app/vehicles/vehiclesService.js"></script>
<script src="~/app/vehicles/vehicles.js"></script>