<div id="index-view" ng-app="app">
    <div ng-controller="Vehicles as vehicles">
        <h1>{{ vehicles.title }}</h1>
        <table>

            <tr ng-repeat="vehicle in vehicles.vehiclesData">
                <td>{{vehicle.model}}</td>
                <td>{{vehicle.makeYear}} </td>
                <td>{{vehicle.engineCapacityDisplayText}}</td>
                <td>{{vehicle.chassisNumber}}</td>
            </tr>
        </table>
    </div>
</div>

<!-- inject:js -->
<!-- Bootstrapping -->
<script src="~/app/app.module.js"></script>

<!--blocks-->
<script src="~/app/vehicles/vehicles.module.js"></script>
<script src="~/app/vehicles/vehiclesService.js"></script>
<script src="~/app/vehicles/vehicles.js"></script>