<div id="index-view" ng-app="app">
    <div ng-controller="Vehicles as vehicles">
        {{ vehicles.title           }}
        {{  vehicles.vehiclesCount  }}
    </div>
</div>

<!-- inject:js -->
<!-- Bootstrapping -->
<script src="~/app/app.module.js"></script>

<!--blocks-->
<script src="~/app/vehicles/vehicles.module.js"></script>
<script src="~/app/vehicles/vehiclesService.js"></script>
<script src="~/app/vehicles/vehicles.js"></script>