/* Body */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}



/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}




/* Basic Table */
table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

table tr:nth-child(odd) {
    background-color: #f1f1f1;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}

thead{
    font-weight: bold;
}

/* Simple Vertical EmptySpaces */
.verticalEmptySpaceBig {
    padding-bottom: 4px;
    padding-top: 4px;
}

.verticalEmptySpaceSmall {
    padding-bottom: 2px;
    padding-top: 2px;
}